body
{
margin-top:20px;
margin-right:100px;
margin-bottom:20px;
margin-left:30px;

border-style:dotted;
border-width:20px;
border-color:red;

padding-top:1cm;
padding-right:20mm;
padding-bottom:10mm;
padding-left:50mm;
}